{% import 'macro/cards.jinja' as cards %}

<template id="pet-card-template">
    {{ cards.pet_display(pet=[]) }}
</template>

<div id="pet-cards" class="grid md:grid-cols-2 grid-cols-1 row-span-full gap-[4rem] justify-center m-auto">
    <!-- pet cards will be inserted here -->
</div>