<!-- extends base.html -->
{% extends 'base.html' %}

<!-- block title -->
{% block title %} Home - My Website{% endblock %}

<!-- block content -->
{% block content %}
<div>
    {% import  'macro/cards.jinja' as cards %}

	{% if path %}
	<h1 class="text-3xl font-bold underline text-clifford">{{ path }}</h1>
	{% else %}
	<h1 class="text-3xl font-bold underline text-clifford">Hello world!</h1>
	{% endif %} 

	{{ cards.pet("Card 1", "This is the content of Card 1.") }}
</div>
{% endblock %}
