{% macro pet_display(pet) %}
  <div class="w-full h-full col-auto row-auto group" href="/pet/{{ pet['id'] }}">
    <div class="bg-white rounded-4xl shadow-2xl overflow-hidden border border-white h-full">
      <div class="h-72 bg-slate-100 flex items-center justify-center relative overflow-hidden">
        <div class="relative w-full h-full bg-gray-200 animate-pulse">
			<img 
				id="pet-img-{{ pet['id'] }}" 
				class="w-full h-full object-cover opacity-0 transition-opacity duration-300"
				src="{{ src }}" 
				alt="{{ pet['nom'] }}"
				onload="this.classList.remove('opacity-0'); this.parentElement.classList.remove('animate-pulse')"
			>
		</div>
        <div class="absolute top-6 right-6">
           <span class="px-4 py-2 bg-rose-600 text-white text-[10px] font-black uppercase rounded-full">{{ pet['espece'] }}</span>
        </div>
      </div>
	  
      <div class="flex flex-col p-8">
        <div class="flex justify-between items-start mb-4 flex-1">
          <div>
            <h3 class="text-2xl font-black text-slate-900 italic">{{ pet['nom'] }}</h3>
            <p class="text-xs font-bold text-slate-400 uppercase mt-1"> {{ pet['description'] }}</p>
          </div>
          <span class="text-xl font-black text-slate-900 whitespace-nowrap">{{ pet['age'] }} ans</span>
        </div>
        <button onclick="location.href='pet/{{pet['id']}}'" class=" h-14 px-4 py-2.5 bg-slate-900 text-white rounded-2xl font-black font-medium leading-5 uppercase shadow-lg active:scale-95 cursor-pointer mt-4">Voir plus ></a>
      </div>
    </div>
  </div>
  <script type="module" async>
	import {findPage} from "./static/js/wiki.js";
	const elem = document.getElementById("pet-img-{{ pet['id'] }}");
	const data = findPage(["{{ pet['espece'] }}", "{{ pet['race'] }}"]).then(data =>{
		if (data) {
			console.log(data);
			elem.src = data.originalimage?.source;
		}
		else {
			elem.src = "https://via.placeholder.com/150";
		}
	});
	</script>
{% endmacro %}